/* ==========  ANIMACIONES (Keyframes) ========== */

// --- ------ HEADER ------ ---
// HankoStamp: Simula el impacto de un sello de tinta tradicional japonés
@keyframes hankoStamp {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-15deg); // Efecto de impacto desde lejos
  }
  70% {
    opacity: 1;
    transform: scale(0.9) rotate(-10deg); // Rebote al tocar el "papel"
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-0.5deg);
  }
}

@keyframes sealStamp {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

// Expansión horizontal para simular el despliegue de un pergamino
@keyframes openScroll {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// --- ------ HERO ------ ---

// Transición suave que de opacidad y enfoque progresivo
@keyframes fadeInStone {
  0% {
    opacity: 0;
    filter: blur(0.625rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
// Movimiento de tierra/agua
@keyframes waveFlow {
  0% {
    background-position:
      0% 0%,
      0% 0%;
  }
  100% {
    background-position:
      6.25rem 0%,
      -6.25rem 0%;
  }
}
// --- ------ GARDEN ------ ---

// Simulación de caída pétalos
@keyframes sakuraFall {
  0% {
    top: -10%;
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    top: 110%;
    transform: translateX(6.25rem) rotate(720deg); // Caída diagonal con rotación
    opacity: 0;
  }
}
// Movimiento oscilatorio suave
@keyframes plantSway {
  0%,
  100% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
}

/* --- UTILIDADES GENERALES --- */

// Transición básica de visibilidad
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Entrada vertical con desplazamiento hacia arriba
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
