/* --- COLORES TEMÁTICOS --- */
$background-color: #f3d4a6;
$header-brown: #eebb6e;
$color-water: #a8d5e2;
$color-green: #196933;
$color-darkGreen: #1b4e1b;
$color-red: #c0392b;
$color-sakura: #fec5e5;
$color-stone: grey;

/* --- TECH --- */
// $color-main: #050505;
$color-html: #e34f26;
$color-css: #1572b6;
$color-js: #f7df1e;
$color-react: #61dafb;
$color-sass: #d35493;
$color-node: #339933;
$color-express: #444444;
$color-mysql: #00758f;
$color-git: #f1edec;

/* --- TIPOGRAFÍA --- */
$text-color: #333333;
$font-japanese: "Yuji Syuku", serif;
$font-body: "Lora", serif;

/* --- ESTÉTICA DE PIEDRA --- */
$stone-gradient: radial-gradient(circle at 30% 30%, #a8a8a8, #696969);
$stone-border: 0.1rem solid rgba(0, 0, 0, 0.1);

/* --- SOMBRAS --- */

// Neutras
$shadow-soft: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
$shadow-strong: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.4);

// piedras
$shadow-stone:
  inset -0.25rem -0.25rem 0.5rem rgba(0, 0, 0, 0.4),
  0.25rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.3);

// Temáticas
$shadow-green: 0.625rem 0.625rem 1.25rem rgba(45, 90, 39, 0.5);
$shadow-sakura: 0 0.25rem 0.75rem rgba(254, 197, 229, 0.4);
$shadow-red-hover: 0.625rem 0.625rem 1.25rem rgba(192, 57, 43, 0.5);

// Tech
$shadow-html: 0 0.5rem 1.5rem rgba($color-html, 0.3);
$shadow-css: 0 0.5rem 1.5rem rgba($color-css, 0.3);
$shadow-js: 0 0.5rem 1.5rem rgba($color-js, 0.3);
$shadow-react: 0 0.5rem 1.5rem rgba($color-react, 0.3);
$shadow-sass: 0 0.5rem 1.5rem rgba($color-sass, 0.3);
$shadow-node: 0 0.5rem 1.5rem rgba($color-node, 0.3);
