/* --- COLORES TEMÁTICOS --- */
$background-color: #f3d4a6;
$header-brown: #eebb6e;
$color-water: #a8d5e2;
$color-green: #196933;
$color-darkGreen: #1b4e1b;
$color-red: #c0392b;
$color-sakura: #fec5e5;
$color-stone: grey;

/* --- TIPOGRAFÍA --- */
$text-color: #333333;
$font-japanese: "Shippori Mincho", serif;
$font-body: "Lora", serif;

/* --- TECH --- */
$color-main: #050505;
$color-html: #e34f26;
$color-css: #1572b6;
$color-js: #f7df1e;
$color-react: #61dafb;
$color-sass: #d35493;
$color-node: #339933;
$color-express: #444444;
$color-mysql: #00758f;
$color-git: #f1edec;

/* --- SOMBRAS --- */
$shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-strong: 0 10px 15px rgba(0, 0, 0, 0.4);

// Colores
$shadow-green: 10px 10px 20px rgba(45, 90, 39, 0.5);
$shadow-sakura: 0 4px 12px rgba(254, 197, 229, 0.4);
$shadow-red-hover: 10px 10px 20px rgba(192, 57, 43, 0.5);

// Tech
$shadow-html: 0 0.5rem 1.5rem rgba($color-html, 0.3);
$shadow-css: 0 0.5rem 1.5rem rgba($color-css, 0.3);
$shadow-js: 0 0.5rem 1.5rem rgba($color-js, 0.3);
$shadow-react: 0 0.5rem 1.5rem rgba($color-react, 0.3);
$shadow-sass: 0 0.5rem 1.5rem rgba($color-sass, 0.3);
$shadow-node: 0 0.5rem 1.5rem rgba($color-node, 0.3);

// ------------------------------------
$color-bg-zen: #f5e2b5;
