.footer {
  background: linear-gradient(to bottom, #a8d5e2, $color-sakura 40%);
  padding: 2.5rem 1rem;
  text-align: center;
  letter-spacing: 1px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  &__copy,
  &__link {
    color: darken($color-green, 15%);
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  &:hover {
    color: $color-red;
  }
}

.tech-tag {
  background-color: rgba($color-green, 0.1);
  color: $color-green;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.75rem;
  font-weight: bold;
}

// --- DESKTOP ---

@media (min-width: 768px) {
  .footer {
    padding-top: 3rem;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
