.header {
  background: $header-brown;
  border-bottom: solid 0.05rem $color-green;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
  }

  &__seal {
    height: 3.5rem;
    width: auto;
  }

  &__title {
    flex: 1;
    text-align: center;
    margin: 0;

    &-link {
      text-decoration: none;
      font-family: $font-japanese;
      font-size: 1.6rem;
      color: $color-red;
    }
  }

  &__social {
    display: flex;
    gap: 1.2rem;
    flex: 0 0 30px;
    justify-content: flex-end;

    &-icon {
      height: 1.8rem;
      width: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.15) rotate(5deg);
      }
    }
  }
}

// --- DESKTOP ---

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    padding: 0 5rem;
    height: 4.5rem;
  }
}
