/* ===================== HEADER SECTION ===================== */

// --- ANIMATIONS ---
// Efecto de un "estampado" tradicional japonés (Hanko)
@keyframes hankoStamp {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-15deg);
  }
  70% {
    opacity: 1;
    transform: scale(0.9) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-0.5deg);
  }
}
// Animación específica para el sello, rotación
@keyframes sealStamp {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

// Efecto pergamino
@keyframes openScroll {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// ========== HEADER ==========
.header {
  background: $header-brown;
  border-bottom: solid 0.05rem $color-green;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;

  &__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
  }

  /* --- ELEMENTOS --- */
  &__seal {
    grid-column: 1;
    height: 2.5rem;
    width: auto;
    opacity: 0;
    animation: sealStamp 0.8s ease-out forwards;
    animation-delay: 1s;
  }

  &__title {
    grid-column: 2;
    justify-self: start;
    margin: 0;

    &-link {
      display: inline-flex;
      justify-content: flex-start;
      text-decoration: none;

      // Estilos de los RODILLOS

      .scroll__roller {
        width: 0.8rem;

        background: $color-red;
        border: 1.5px solid $color-red;
        flex-shrink: 0;
        z-index: 2;
        border-radius: 0.2rem;
      }

      .scroll__content {
        background-color: $background-color;
        overflow: hidden;
        white-space: nowrap;
        width: 0;

        animation: openScroll 1.2s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
        animation-delay: 2.5s;

        border-top: 2px solid $color-red;
        border-bottom: 2px solid $color-red;
        box-shadow: inset 10px 0 10px -5px rgba(0, 0, 0, 0.2);
      }

      .scroll__text {
        font-family: $font-japanese;
        font-size: 1.5rem;
        color: $color-red;
        font-weight: bold;
        padding: 0 1rem;
        opacity: 0;

        animation: fadeIn 0.5s forwards;
        animation-delay: 2s;
      }
    }
  }

  &__social {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    &-icon {
      height: 1.5rem;
      width: auto;
      opacity: 0;
      animation: hankoStamp 0.8s ease-out forwards;
      // Entrada escalonada de los iconos sociales
      &:nth-child(1) {
        animation-delay: 1.8s;
      } // Email
      &:nth-child(2) {
        animation-delay: 2.1s;
      } // GitHub
      &:nth-child(3) {
        animation-delay: 2.4s;
      } // LinkedIn

      &:hover {
        transform: scale(1.2) rotate(5deg);
        transition: transform 0.3s ease;
        transform: scale(1.05);
      }
    }
  }
}

// ========== DESKTOP ==========
@media (min-width: 768px) {
  .header {
    &__container {
      padding: 0 5rem;
      height: 5rem;

      grid-template-columns: 1fr 2fr 1fr;
    }
    &__seal {
      height: 4.5rem;
    }

    &__social {
      flex-direction: row;
      gap: 1.5rem;
    }

    &__title-link {
      font-size: 1.8rem;
    }
  }
}
