.hero {
  padding: 0.5rem 1.25rem;
  text-align: center;

  &__greeting {
    font-family: $font-japanese;
    font-size: 1.5rem;
    color: $color-green;
    margin-bottom: 0.5rem;
  }

  &__name {
    font-family: $font-japanese;
    font-size: 2.5rem;
    color: $color-red;
    margin-bottom: 1.5rem;
  }

  &__description {
    margin: 0 auto 2.5rem;
    font-size: 1rem;
  }
  &__list {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  &__link {
    text-decoration: none;
    color: $color-green;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: $color-red;
    }
  }
}
// --- DESKTOP ---

@media (min-width: 768px) {
  .hero {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__name {
      font-size: 3.5rem;
    }
    &__description {
      font-size: 1.1rem;
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
