@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tools {
  padding: 2rem;
  text-align: center;

  &__title {
    margin-bottom: 2rem;
    font-family: $font-japanese;
    color: $color-green;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
  }

  &__item {
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.5rem;
    transition: all 0.3s ease;
    box-shadow: $shadow-main;
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;

    &:hover {
      transform: translateY(-0.3rem);
    }

    &--red {
      background-color: rgba($color-html, 0.6);

      .tools__icon {
        color: darken($color-html, 15%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-html, 0.6);
      }
    }

    &--blue {
      background-color: rgba($color-css, 0.6);

      .tools__icon {
        color: darken($color-css, 10%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-css, 0.6);
      }
    }

    &--yellow {
      background-color: rgba($color-js, 0.5);

      .tools__icon {
        color: darken($color-js, 30%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-js, 0.6);
      }
    }

    &--cyan {
      background-color: rgba($color-react, 0.6);

      .tools__icon {
        color: darken($color-react, 20%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-react, 0.6);
      }
    }

    &--pink {
      background-color: rgba($color-sass, 0.6);

      .tools__icon {
        color: darken($color-sass, 10%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-sass, 0.6);
      }
    }

    &--green {
      background-color: rgba($color-node, 0.6);

      .tools__icon {
        color: darken($color-node, 15%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-node, 0.6);
      }
    }

    &--grey {
      background-color: rgba($color-express, 0.6);

      .tools__icon {
        color: darken($color-express, 15%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-express, 0.6);
      }
    }

    &--marine {
      background-color: rgba($color-mysql, 0.6);

      .tools__icon {
        color: darken($color-mysql, 10%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-mysql, 0.6);
      }
    }

    &--white {
      background-color: rgba($color-git, 0.8);

      .tools__icon {
        color: darken($color-git, 50%);
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-git, 0.8);
      }
    }
  }

  &__icon {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    transition: color 0.3s ease;
  }

  &__name {
    font-weight: bold;
    font-size: 0.9rem;
    color: $text-color;
  }
}
