$background-color: #f3d4a6;
$color-green: #2d5a27;
$color-red: #c0392b;
$color-sakura: #fec5e5;
$header-brown: #eebb6e;
$text-color: #333333;
$font-japanese: "Shippori Mincho", serif;
$font-main: "Roboto", sans-serif;

//--- SHADOW ---
// Sombra suave
$shadow-main: 0 4px 6px rgba(0, 0, 0, 0.1);

// Sombras de colores
$shadow-brown: 2px 2px 10px rgba(119, 89, 46, 0.15);
$shadow-green: 10px 10px 20px rgba(45, 90, 39, 0.5);
$shadow-red: 0 4px 12px rgba(192, 57, 43, 0.3);
$shadow-sakura: 0 4px 12px rgba(254, 197, 229, 0.4);

// Más intensa para el Hover
$shadow-hover: 0 10px 15px rgba(0, 0, 0, 0.2);
$shadow-green-hover: 0 8px 20px rgba(45, 90, 39, 0.5);
$shadow-red-hover: 10px 10px 20px rgba(192, 57, 43, 0.5);
