/* --- TOOLS:  Galería de habilidades con estética tradicional japonesa. --- */

/* --- Tools --- */
.tools {
  background-color: $color-pared;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  overflow: hidden;

  /* --- Elementos de Ambiente --- */

  /* Techo  */
  &__ceiling {
    position: absolute;
    top: 1.5rem;

    width: 100%;
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2rem;
      background-color: $color-madera;
      box-shadow: $shadow-strong;
      z-index: 11;
    }
  }

  /* Revestimiento de madera */
  &__wall {
    position: absolute;
    bottom: 8.5vh;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: $color-madera;

    border-top: 1rem solid darken($color-madera, 5%);
    border-bottom: 1rem solid darken($color-madera, 5%);

    background-image: 
      // Líneas de los bordes negros
      repeating-linear-gradient(
        to right,
        $color-madera,
        rgba($tatami-borde, 0.6) 0.4rem,
        transparent 0.4rem,
        transparent 14rem
      ),
      // Efecto de textura de paja
      repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0.08) 0,
          rgba(0, 0, 0, 0.05) 3px,
          transparent 2px,
          transparent 12px
        );
  }

  /* Suelo  */
  &__floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh; // Altura visible del suelo
    background-color: $tatami-paja;
    z-index: 8;

    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 40%),
      // Líneas de los bordes negros
      repeating-linear-gradient(
          to right,
          $tatami-borde,
          $tatami-borde 0.4rem,
          transparent 0.4rem,
          transparent 12rem
        ),
      // Efecto de textura de paja
      repeating-linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.08) 0,
          rgba(0, 0, 0, 0.05) 3px,
          transparent 2px,
          transparent 6px
        );
    transform: perspective(100px) rotateX(7deg) scaleX(1.3);
    transform-origin: bottom;
    box-shadow: $Sombra-inner;
  }

  &__content {
    position: relative;
    z-index: 15; // Por encima de la arquitectura
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15rem 1rem 20vh 1rem;

    /* --- Katanas Decorativas --- */
    &--katanas {
      background-image: url("/katanas.png");
      background-repeat: no-repeat;
      background-position: center bottom 92%; // posición katanas
      background-size: 25rem 10rem; // Tamaño
      filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.7));
    }
  }

  &__title {
    font-family: $font-japanese;
    font-size: 2.2rem;
    color: $color-madera;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  /* Contenedor de la lista */
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5rem 2rem;
    list-style: none;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__item {
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
  }

  /* El Marco  */
  &__frame {
    background-color: $color-papel;
    border: 0.4rem solid $color-madera;
    padding: 1.5rem;
    width: 6rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: $transicion-base;
    position: relative;
    box-shadow: $Sombra-inner;

    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: -100%;
      left: -150%; // Empieza escondido a la izquierda
      width: 250%;
      height: 1rem;
      background: linear-gradient(
        to right,
        transparent 10%,
        rgba(255, 255, 255, 1) 50%,
        // Blanco puro al 100% de opacidad
        transparent 90%
      );

      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);

      transform: rotate(35deg);
      pointer-events: none;
    }

    // Estado interactivo
    &:hover {
      transform: translateY(0.5rem) rotate(2deg);
      box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15);
      cursor: pointer;

      &::after {
        left: 100%;
        top: 150%;
        transition: all 0.4s ease-out;
      }
    }
  }

  /* Gestión de iconos */

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain; // Mantiene proporción
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 0.85rem;
    font-weight: 700;
    color: $color-madera;
    text-transform: uppercase;
  }

  /* --- MEDIA QUERIES (DESKTOP) --- */
  @media (min-width: $breakpoint-tablet) {
    &__content {
      padding: 15rem 2rem 30vh 2rem;

      &--katanas {
        background-position: center bottom 93%; // posición katanas
        background-size: 35rem 10rem; // Tamaño
      }
    }

    &__frame {
      width: 9rem;
      height: 11rem;
      padding: 2rem;
    }

    &__icon {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    &__content {
      &--katanas {
        background-position: center bottom 93%;
        background-size: 40rem 10rem;
      }
    }
  }
}
